# Visual Studio build folders
bin/
obj/

# Visual Studio project properties
properties/

# Visual Studio files and folders
.vs/

# NuGet packages folder
packages/

# User-specific files
*.user
*.suo
*.cache
*.bak
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
